@import "../css/reset.css";
@import "../css/common.css";
@import "../before_bid/beforeBid.css";

.car-info__bidding_status__holder {
  background-color: lightgrey;
  margin-bottom: 16px;
  padding: 8px;
}

.car-info__bidding_status__header {
  margin-bottom: 8px;
}

.car-info__bid-buttons__holder {
  /*background-color: blue;*/
  display: flex;
}

.car-info__bid-price {
  background-color: var(--color-light-blue);
  height: fit-content;
  margin-right: 8px;
  padding: 8px;
  width: 75%;
}

.car-info__bid-submit {
  background-color: var(--color-light-blue);
  height: inherit;
  width: 25%;
}

.car-info_bidding_status__text {
  margin-bottom: 8px;
}