#Pending {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
    align-items: center;
    background-color: var(--color-semi-gray);
}

.pending #Pending {
    pointer-events: none;
    opacity: 0.5;
}

body.pending {
    pointer-events: none;
}

/* https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}
.loader {
    color: #ffffff;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before,
.loader:after {
    position: absolute;
    content: '';
}
.loader:before {
    width: 5.2em;
    height: 10.2em;
    background: var(--color-semi-gray);
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.1em 5.1em;
    transform-origin: 5.1em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}
.loader:after {
    width: 5.2em;
    height: 10.2em;
    background: var(--color-semi-gray);
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 4.9em;
    -webkit-transform-origin: 0.1em 5.1em;
    transform-origin: 0.1em 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes load2 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}