/*https://www.cssportal.com/css-ribbon-generator/*/
.box {
  background: #EEE;
  border: 1px solid #BBB;
  height: 300px;
  position: relative;
  width: 200px;
}

.ribbon {
  height: 75px;
  overflow: hidden;
  position: absolute;
  right: -5px;
  text-align: right;
  top: -5px;
  width: 75px;
  z-index: 1;
}

.ribbon span {
  background: #79A70A;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  color: #FFF;
  display: block;
  font-size: 10px;
  font-weight: bold;
  line-height: 20px;
  position: absolute;
  right: -21px;
  text-align: center;
  text-transform: uppercase;
  top: 19px;
  transform: rotate(45deg);
  width: 100px;
}

.ribbon span::before {
  border-bottom: 3px solid transparent;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-top: 3px solid #1e5799;
  content: "";
  left: 0;
  position: absolute;
  top: 100%;
  z-index: -1;
}

.ribbon span::after {
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-top: 3px solid #1e5799;
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
}

.red-ribbon span {
  background: linear-gradient(#e07690 0%, #991e4d 100%);
}

.red-ribbon span::after {
  border-right: 3px solid #991e4d;
  border-top: 3px solid #991e4d;
}

.red-ribbon span::before {
  border-left: 3px solid #991e4d;
  border-top: 3px solid #991e4d;
}