@import "../css/reset.css";
@import "../css/common.css";

/* Overall component */
body {
  align-items: center;
  background-color: #EEEEEE;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  padding-top: 100px;
}

ul {
  list-style-type: none;
}

ul > li {
  margin-bottom: 8px;
}

hr {
  margin-bottom: 16px;
  margin-top: 16px;
}

.section {
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 32px;
}

.upper-main {
  display: flex;
  width: 900px;
}

.column {
  flex: 50%;
}

.column-left {
  flex-direction: row-reverse;
  margin-right: 50px;
}

.column-right {
  flex-direction: row;
  margin-left: 50px;
  position: relative;
}

.lower-main {
  height: fit-content;
  margin-bottom: 128px;
  margin-top: 16px;
  /*min-width: 900px;*/
  width: 900px;
}

/* Left side components */
.image-slider__holder {
  margin-bottom: 32px;
  min-width: 400px;
  padding-top: 56.25%;
  position: relative;
}

.image_slide1 {
  bottom: 0;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.timer__holder {
  background-color: var(--color-lightest-blue);
  border-radius: 8px;
  height: 86px;
  padding: 16px;
}

.timer__label {

}

.timer__time {
  font-size: 32px;
  font-weight: bold;
  margin-top: 8px;
}

/* Right side components */
.car-info__price-now {
  font-size: 40px;
  font-weight: bold;
}

.car-info__holder > li {

}

.car-info__price-holder {
  display: flex;
  justify-content: space-between;
}

.car-info__price-holder > li {

}

.car-info__starting-price {
  font-weight: bold;
  alignment: right;
}

.car-info__bid-button {
  border-radius: 8px;
  bottom: 0;
  font-size: 24px;
  height: 86px;
  /*position: absolute;*/
  right: 0;
  width: 100%;
}

.car-info__bid-not-start__button {
  background-color: var(--color-grey);
}

/* Lower info components */
.car-info__more-info-holder {
  padding: 16px;
}

.car-info__more-info-holder > li {
  margin: 8px;
}