@import "../../style/all.css";

[data-component="AuctionDetail"] {
    padding: 32px;
    border-radius: 15px;
    box-shadow: var(--box-shadow-level-3);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1000px;
    gap: 32px;
    align-items: end;
}

.auction-detail__timer {
    font-size: 20px;
    height: 75px;
    line-height: 100px;
    text-align: center;
    color: var(--color-semi-gray);
    font-style: italic;
}

.auction-detail__timer b {
    margin: 0 8px;
    font-size: 25px;
    font-style: normal;
    color: var(--color-semi-blue);
}

.auction-detail__title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 8px;
}

.auction-detail__car-info {
    font-size: 20px;
    color: var(--color-semi-gray);
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--color-light-gray);
}

.auction-detail__price {
    font-size: 40px;
    font-weight: bolder;
    text-align: right;
    margin-bottom: 16px;
}

.auction-detail__price.price--live {
    animation: 0.5s pump alternate infinite;
}

.auction-detail__live-bids-container {
    width: 100%;
    height: 130px;
    border-radius: 5px;
    background-color: var(--color-gray);
    color: var(--color-white);
    padding: 16px;
    margin-bottom: 16px;
}

.auction-detail__live-bids-container__live-bids {
    width: 100%;
    height: calc(150px - 16px * 2);
    overflow: scroll;
}

.auction-detail__bid-btn {
    font-size: 25px;
    font-weight: bold;
    height: 60px;
    width: 100%;
    border-radius: 20px;
    color: var(--color-blue);
    background-color: var(--color-light-blue);
    transition: 0.1s;
}

.auction-detail__bid-btn[disabled] {
    pointer-events: none;
}

.auction-detail__bid-btn:hover:not([disabled]){
    color: white;
    background-color: var(--color-blue);
}

@keyframes pump {
    0% { scale: 1; }
    100% { scale: 1.05; }
}