[data-component="PagingView"] .pagination__btn {
    outline: 1px solid var(--color-semi-gray);
    margin: 0 5px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

[data-component="PagingView"] .pagination__btn--selected {
    pointer-events: none;
}

[data-component="PagingView"] .pagination__btn--selected,
[data-component="PagingView"] .pagination__btn:hover {
    outline: 1px solid var(--color-blue);
    color: var(--color-blue);
}