@import "../../style/all.css";

[data-component="Modal"] {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

[data-component="Modal"].modal--pop {
    pointer-events: auto;
}

[data-component="Modal"] .modal__background {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: backdrop-filter 0.5s;
    backdrop-filter: blur(5px) opacity(0);
}

[data-component="Modal"].modal--pop .modal__background {
    backdrop-filter: blur(5px) opacity(1);
}

[data-component="Modal"] .modal__content {
    transition: opacity 0.5s;
    position: absolute;
    background-color: var(--color-white);
    opacity: 0;
    z-index: 2;
}

[data-component="Modal"].modal--pop .modal__content {
    opacity: 1;
}