@import "../css/reset.css";
@import "../css/common.css";

body {
  background-color: var(--color-light-gray);
}

hr {
  border-bottom: 1px solid var(--color-semi-gray);
  border-top: 0;
  margin: 16px 0;
}

.my-page {
  display: flex;
}

/* Sidebar */
.my-page__sidebar {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: var(--container-max-width);
  padding: var(--container-padding);
  margin-bottom: 64px;
  margin-right: 16px;
  margin-left: 16px;
  background-color: var(--color-white);
  border-radius: 16px;
}

.my-page__sidebar__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 32px;
}

.my-page__sidebar__info-holder > li {
  padding-top: 8px;
}

.my-page__sidebar__greeting {
  text-align: center;
}

.my-page__sidebar__phone-number {
  margin-top: 16px;
}

/* Main */
.my-page__main__ul {
  display: flex;
  flex-direction: column;
  /*padding-top: 32px;*/
  /*padding-left: 16px;*/
  padding: var(--container-padding);
  margin-left: 16px;
  margin-bottom: 64px;
  background-color: var(--color-white);
  border-radius: 16px;
}

.my-page__main__card-list > h3 {
  font-size: 24px;
  font-weight: bold;
}

/* Below code is from body.css (card part) */

.my-page__main__card-list {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.main__card-list__grid__item {
  border-radius: 15px;
  box-shadow: var(--box-shadow-level-1);
  display: inline-block;
  transition: 0.1s;
  width: 250px;
  margin: 8px 8px 32px;
}

.main__card-list__grid__item:hover {
  transform: scale(1.02);
}

.main__card-list__grid__item__img-group {
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  height: 140px;
  overflow: hidden;
}

.main__card-list__grid__item__img {
  width: 250px;
}

.main__card-list__grid__item__img-swap-btn-group {
  display: flex;
  height: 140px;
  justify-content: space-between;
  opacity: 0;
  position: absolute;
  transition: 0.5s;
  width: 250px;
  z-index: 1;
}

.main__card-list__grid__item__img-swap-btn-group:hover {
  opacity: 0.5;
}

.grid__item__img-swap-btn-group__btn {
  color: white;
  margin: 5px
}

.main__card-list__grid__item__details {
  cursor: pointer;
  padding: 16px;
  text-align: left;
}

.grid__item__details__tags {
  color: var(--color-semi-blue);
  display: block;
  margin-bottom: 8px;
}

.grid__item__details__title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.grid__item__details__infos {
  display: block;
  margin-bottom: 16px;
  opacity: 0.6;
}

.grid__item__details__price {
  align-items: baseline;
  display: flex;
}

.grid__item__details__price b {
  color: var(--color-blue);
  font-size: 25px;
  margin-right: 4px;
}