@import "../css/reset.css";
@import "../css/common.css";

.header {
    width: 100%;
    box-shadow: var(--box-shadow-level-1);
    position: sticky;
    top: 0;
    z-index: 999;
    height: 64px;
    margin-bottom: 32px;
    background-color: var(--color-lightest-blue);
}

.header__container {
    height: 100%;
    padding: var(--container-padding);
    max-width: var(--container-max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container__menu {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.header__container__btn {
    transition: 0.1s;
}

.header__container__btn:hover {
    color: var(--color-blue);
}